<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if ( message != null ) { %>
        <h2><%= message %></h2>
    <% } %>
    <h1>Login Page</h1>
    <form method="POST" action="/login">
        <% if ( redirect != null ) { %>
		<input type="hidden" name="redirect" value='<%= redirect %>' />
        <% } %>
		<label for="title"> Username: </label>
		<input type="text" name="username"/>
        <br>
		<label for="title"> Password: </label>
	    <input type="text" name="password"/><br>
        <button class="button" type="submit">Log In</button>
    </form>
  </body>
</html>
